SECRET_KEY=enter_a_new_long_secret
PASSPORT_AUDIENCE=argon-server.$DOMAIN_NAME
PASSPORT_URL=https://passport.$DOMAIN_NAME
ARGON_SERVER_FQDN=https://argon-server.$DOMAIN_NAME

REDIS_PASSWORD=argon-server_redis_password

HEARTBEAT_RATE_SECS=2

IS_DEBUG=0
DJANGO_LOG_LEVEL=INFO

# Postgres Docker
POSTGRES_USER=mydatabaseuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=argon-server_db
