SECRET_KEY=XhOCvsdPpQPL2Q74hvDNZw3L4QatShA5CBPdEKfzgc1G3tuwKNVsgSN9MKHrYKL5
PASSPORT_AUDIENCE=blender.$DOMAIN_NAME
PASSPORT_URL=https://passport.$DOMAIN_NAME

IS_DEBUG=1

REDIS_HOST=redis-blender
REDIS_PORT=6379
REDIS_PASSWORD=blender_redis
REDIS_BROKER_URL=redis://:blender_redis@redis-blender:6379

USING_DOCKER_COMPOSE=0
HEARTBEAT_RATE_SECS=2

BLENDER_FQDN=https://blender.$DOMAIN_NAME
DATABASE_URL=pgsql://mydatabaseuser:mypassword@db-blender:5432/blender_db

# Postgres Docker
POSTGRES_USER=mydatabaseuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=blender_db
POSTGRES_HOST=db-blender
PGDATA=/var/lib/postgresql/data/pgdata
