SECRET_KEY=enter_a_new_long_secret
PASSPORT_AUDIENCE=blender.$DOMAIN_NAME
PASSPORT_JWKS_URL=https://passport.$DOMAIN_NAME/.well-known/jwks.json
FLIGHTBLENDER_FQDN=https://blender.$DOMAIN_NAME

REDIS_PASSWORD=blender_redis_password

HEARTBEAT_RATE_SECS=2

IS_DEBUG=0
DJANGO_LOG_LEVEL=INFO

# Postgres Docker
POSTGRES_USER=mydatabaseuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=blender_db

ENABLE_CONFORMANCE_MONITORING=1
USSP_NETWORK_ENABLED=1