SECRET_KEY=XhOCvsdPpQPL2Q74hvDNZw3L4QatShA5CBPdEKfzgc1G3tuwKNVsgSN9MKHrYKL5
PASSPORT_AUDIENCE=blender.$DOMAIN_NAME
PASSPORT_URL=https://passport.$DOMAIN_NAME

IS_DEBUG=1

REDIS_PASSWORD=blender_redis

USING_DOCKER_COMPOSE=0
HEARTBEAT_RATE_SECS=2

BLENDER_FQDN=https://blender.$DOMAIN_NAME

# Postgres Docker
POSTGRES_USER=mydatabaseuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=blender_db
